/* Page */
body,html,div,blockquote,img,label,p,h1,h2,h3,h4,h5,h6,pre,ul,ol,li,dl,dt,dd,form,a,fieldset,input,th,td{border:0;outline:none;margin:0;padding:0;}
ul{list-style:none;}

/* Demo Page Styles */
body {font: normal 13px Arial, sans-serif;}
h2 {font: normal 26px Arial, sans-serif; padding: 20px 0; margin: 0 0 30px 0;}
.wrap {width: auto; margin: 0 auto;}
.demo-container {padding: 0; width: 249px; float: left;}
.demo-container.right {float: right;}
.demo-container h4 {font-size: 14px; margin: 0 0 5px 0;}
.clear {clear: both;}

/* Vertical Mega Menu Styles */
.dcjq-vertical-mega-menu .menu{
font: bold 13px Arial, sans-serif; 
}
.dcjq-vertical-mega-menu ul li {
    margin-bottom: 0;
}
.dcjq-vertical-mega-menu .menu li a {
display: block; 
color: #1d2b37; 
padding: 6px 38px 6px 10px; 
text-shadow: 1px 1px 1px #fff; 
text-decoration: none;
/*border-bottom: 1px solid #999;
background: url(images/bg_nav.png) repeat-x 0 0;*/
}
.dcjq-vertical-mega-menu .menu li a.dc-mega {
position: relative;
}
/* Add arrow icon to parent links */
.dcjq-vertical-mega-menu .menu li a .dc-mega-icon {
display: block; 
position: absolute; 
top: 7px; 
right: 3px; 
width: 21px; 
height: 17px; 
background: url(images/left-submenu.png) no-repeat -6px 0;
}
.dcjq-vertical-mega-menu .menu li a:hover .dc-mega-icon, .dcjq-vertical-mega-menu .menu li.mega-hover a .dc-mega-icon {
    background: rgba(0, 0, 0, 0) url("images/leftsubmenu-active.png") no-repeat scroll -6px 0;
    display: block;
    height: 17px;
    position: absolute;
    right: -3px;
    top: 8px;
    width: 21px;
	text-decoration: none;
}
.dcjq-vertical-mega-menu ul li:hover {
    background: #fff;
}
/* Mega menu container */
.dcjq-vertical-mega-menu .menu li .sub-container {
position: absolute; /* Required */
padding: 0 13px 17px 0; /* Padding for drop shadow */
}
.dcjq-vertical-mega-menu .menu li .sub-container .sub {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #c8dbeb;
    box-shadow: 1px 1px 1px 1px #a4c5e3;
    padding: 10px 15px 0;
}
.dcjq-vertical-mega-menu .menu li .sub .row {
width: 100%; overflow: hidden; /* Clear floats */
}
.dcjq-vertical-mega-menu .menu li .sub li {
float: none; 
/*width: 160px; */
font-size: 1em; 
font-weight: normal;
}
.dcjq-vertical-mega-menu .menu li .sub li.mega-hdr {
float: left; /* Required */
margin: 0 5px 10px 5px;
}
.dcjq-vertical-mega-menu .menu li .sub a, .dcjq-vertical-mega-menu .menu.left li .sub a {
background: none; 
border: none; 
text-shadow: none;
float: none;
color: #004985; 
display: block;
text-decoration: none; 
font-size: 0.9em;
margin-bottom: 0;
}
.dcjq-vertical-mega-menu .menu li .sub li.mega-hdr a.mega-hdr-a {
    color: #2b2b2b;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
	text-decoration: none;
	margin-bottom: 5px;
}
.dcjq-vertical-mega-menu .menu .sub li.mega-hdr li {margin-bottom: 3px;}
.dcjq-vertical-mega-menu .menu .sub li a {
padding: 3px 3px 3px 15px;
font-weight: normal;
text-transform: capitalize; font-size: 12px;
}
.dcjq-vertical-mega-menu .menu .sub li a:hover {
color: #004985;
text-shadow: none;
text-decoration: underline;
/*background: #000 url(images/menu-title-arrow.png) no-repeat 5px 8px;*/
}
.dcjq-vertical-mega-menu .menu .sub ul li {
padding-right: 0;
}

/* Styling for menu items with only 2 levels */
.dcjq-vertical-mega-menu .menu li .sub-container.non-mega .sub {
padding: 10px;
background: #fff;
}
.dcjq-vertical-mega-menu .menu li .sub-container.non-mega li {
padding: 0; 
margin: 0;
width: 150px;
float: none;
}
/* new code */

.top-header {
    background-color: #004985;
    height: 50px;
    margin: auto 52px 20px;
    position: relative;
    z-index: 1;
}
.menu-title a,.menu-title a:hover,.menu-title a:active,.menu-title a:visited{
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 20px;
}
.menu-title {
    padding: 10px;
	text-decoration: none;
	cursor:pointer;
	background:#005daa;
	font-weight: bold;
}
.dcjq-vertical-mega-menu {
    background: #dfedf9 none repeat scroll 0 0;
    box-shadow: 1px 1px 1px 1px #a4c5e3;
}
#mega-1 ul li:hover{
	background: none;

}
.top-header .block-search {
    float: left;
    padding: 4px 0 4px 36px;
    position: relative;
    width: 50%;
    z-index: 4;
}
.top-header .block-search input{
	height: 42px;
}
.top-header .block-search .action.search{
	top: 10px;
}
.top-header .minicart-wrapper {
    float: right;
    margin: 10px;
}
.demo-container span.menu-title-icon {
    background-image: url("images/left-dropmenu.png");
    display: inline-block;
    height: 21px;
    margin-left: 64px;
    position: relative;
    top: 5px;
    width: 21px;
}
.header.links li:nth-child(2) {  
  font-weight:bold;
}
.header.links {
    color: #fff;
    float: right;    
    margin-top: 2px;
    width: 215px;
	text-align: right;
	margin-right: 15px;
}
.customer-menu .header.links {
    background: #a4c5e3 none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 12px;
    margin-left: 100px;
    text-align: left;
}
.customer-menu .header.links a:hover{
	color: #004985;
}
.header.links a {
    color: #004985;
}
.header.links li a {
    color: #fff;
}
.header.links > li {
    margin: 0 0 4px;
}
.top-header .customer-welcome li a ,.top-header .customer-welcome li a:hover{
	color: #004985;
}
.top-header .customer-welcome li a {
	padding: 0 5px;
}
.top-header .customer-welcome li a:hover{
	color:#fff;
}
.filter-options-title ,.column{
	z-index:0;
}