

/* Slideshow styles */

#full_slideshow{
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
	
	/* CSS3 Rounded Corners */
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	border:1px solid white;
	margin-left:40px;
	/* The width of the full_slideshow */
	overflow:hidden;
}

#main_slides{
	/* This is the main_slides area */
	height:250px;
	
	/* The jquery script changes the width automatically later on to the sum of the widths of all the slides. */
	width:920px;
	overflow:hidden;
}

#slideshow_div .slide{
	float:left;
}



#slideshow_div ul{
	margin:0px;
	padding:0px;
}

#slideshow_div li{
	/* Every page number is a li element */
    border-right: 1px solid #000;
    color: #fff;
    display: inline-block;
    height: 50px;
    list-style: outside none none;
    overflow: hidden;
    padding: 10px 10px 0;
    width: 162px;
	cursor: pointer;
}

#slideshow_div  li.inact:hover{
	/* The inactive state, highlighted on mouse over */
	background:url(img/pic_bg.png) repeat;
	cursor: pointer;
	
}

#slideshow_div li.act,li.act:hover{
	/* The active state of the page number */
	background:url(img/active_bg.png) no-repeat;
	cursor: pointer;
}

#slideshow_div li.act a{
	cursor:default;
	color:#005daa;
	
}
#slideshow_div li.act{
	border-bottom:2px solid #004985;
}
#slideshow_div li:first-child{
	border: medium none;
    padding: 0;
    width: 0;
}
#slideshow_div li:last-child{
	border:none;
}
#slideshow_div li a{
	display:block;
	background:url(img/divider.png) no-repeat right;
	color:#2b2b2b;
	font-weight: bold;
}

#slideshow_div a img{
	border:none;
	height:96px;
  width:96px;
}


#slideshow_div a,#slideshow_div a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

#slideshow_div a:hover{
	text-decoration:none;
}

#scroll_info{
  font-weight:bold;
  color:green;
}